# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.db
*.sqlite3

# Media and static files
/media
/staticfiles

# Local settings
local_settings.py

# Environment variables
.env
.env.*

# VS Code settings
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Python virtual environments
venv/
ENV/
env/
.venv/
env.bak/
venv.bak/

# pipenv
Pipfile.lock

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# pytest
.pytest_cache/

# coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Sphinx documentation
docs/_build/

# PyInstaller
*.manifest
*.spec

# Celery beat schedule files
celerybeat-schedule

# Django migrations
*/migrations/*.pyc
*/migrations/*.pyo
*/migrations/__pycache__/
*/migrations/*.log

# Database
*.sqlite3

# Node modules (if using frontend tools)
node_modules/